<ul>
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Products', pages_products_path %></li>
	<li><%= link_to 'Guide', pages_guide_path %></li>
	<li><%= link_to 'About', pages_about_path %></li>
	<li><%= link_to 'Contact', pages_contact_path %></li>
</ul>